html{
    margin: 0;
    height: 100%;
    margin: 0px !important;
    box-sizing: border-box;
    display: grid;
}

body{
    position: relative;
    height: 100vh;
    margin: 0;
    background-color: rgb(41, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
}

.library{
    margin: 0;
    width: 80%;
    max-width: 1080px;
    height: 80%;
    max-height: 800px;
    background-color: grey;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    justify-items: center;
}

.library>h2{
    
}

.books{
    background-color: rgb(70, 68, 68);
    overflow: scroll;
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
}

.library>button{
    width: 33%;
    font-size: 30pt;
    border-radius:30px ;
    border: none;
}

.book{
    background-color: rgb(6, 83, 6);
    width:clamp(150px, 180px, 250px) ;
    justify-self: center;
    height: 220px;
    padding: 1em;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.buttons{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.buttons>button{
    margin-bottom: 5%;
    border-radius: 0.5em;
    box-sizing: border-box;
    border: none;
}

.delete:hover{
    background-color: rgba(255, 0, 0, 0.877);
}

.delete{
    background-color: rgba(255, 145, 0, 0.877);
}

.delete>img{
    max-width: 100px;
    max-height: 30px;
    padding: 2%;
}

.popup{
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    background-color: red;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    align-items: center;
}

.form{
    width: 250px;
    height: 400px;
    padding: 1em;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    align-items: center;
    gap: 1em;
}

.form>button{
    margin-top: 1em;
    padding: 0.5em;
    width: 50%;   
    border: 1px solid grey;
    border-radius: 50em; 
}